@charset "UTF-8";

#box {
	display:flex;
}

#goods_box {
	float: left;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #333333;
	width: 300px;
}

#left_box {
	margin-left: 10px;
	float: left;
	width: 70%;
}

#cart_box {
	margin-left: 10px;
}

#border_box {
	display:table-cell;
	border-left: solid #000000;
}

#cart_item_box {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #333333;
	width: 300px;
}

#right_box {
	float: right;
	width: 350px;
	border-left: solid #000000;
}